.modelImg {
    visibility: hidden;
}


.modelSection:hover .modelImg {
    visibility: visible;
    animation: move;
    animation-duration: 600ms;
}



@keyframes move{
    from{
        transform: translateY(15px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}


.animation {
	position: absolute;
	left: 0;
	background: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0) 45%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(255, 255, 255, 0) 55%,
		rgba(255, 255, 255, 0) 100%
	);
	
	-webkit-text-fill-color: transparent;
	animation: shine 7s infinite;
	background-size: 200%;
}

@keyframes shine {
	0% {
		background-position: -120%;
	}
	10% {
		background-position: 120%;
	}
	100% {
		background-position: 120%;
	}
}

/* .fxEffect{
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0004);
    line-height: 0.7em;
    outline: none;
} */

